.dashboard {
    padding: 42px;
    margin: 0;
}

.dashboard>.heading {
    display: flex;
    justify-content: space-between;
}

.dashboard h2 {
    margin: 0;
    font-size: 22px;
    font-family: France;
    font-weight: bold;
    color: #13244e;
}

.dashboard .date {
    font-size: 14px;
}

.dashboard .cont-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard .cont-1 section:first-of-type {
    flex: 2;
    margin-right: 26px;
}

.dashboard .cont-1 section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 24px;
}

.dashboard>section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 950px) {
    .dashboard .cont-1 {
        flex-direction: row;
        justify-content: space-between;
    }
    .dashboard>section {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 1190px) {
    .dashboard {
        margin-left: 0;
    }
}

@media only screen and (min-width: 1190px) {
    .dashboard.show-sidebar {
        margin-left: 243px;
    }
}